.gallery-wrapper {
  display: block;
  min-height: 1px;
  width: 100%;
  border: 1px solid #ddd;
  overflow: auto;
}

.custom-overlay-wrapper {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
}